.container__typeCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.typeCategory__coffee {
    opacity: .7;
    transition: all ease-in-out .5s;
}

.typeCategory__coffee:hover {
    opacity: 1;
}

@media (min-width: 900px) {
    .container__typeCategory {
        flex-direction: row;
        height: 400px;
    }

}