.container__hero {
    width: 100dvw;
    height: 600px;
    position: relative;
    /* overflow: hidden; */
}

.txt__hero {
    width: 100dvw;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    
    z-index: 2;
    font-family: var(--font-primary);  
    color: var(--color6);
    font-size: 1.1rem;

}

.txt__hero h1 {
    color: var(--color2);
    font-size: 3rem;
    padding: 0px 20px;
    font-weight: 800;
    line-height: 1.15;
    text-shadow: 2px 2px 5px #181818b0;
}

.txt__hero h2 {
    padding: 0px 20px;
}

.container__hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gradient__hero {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, var(--color1), rgba(25, 49, 38, 0.521), transparent);
}

.container__hero .button__action{
    scale: .85;
}

@media (min-width:700px) {
    .txt__hero {
        gap: 40px;
    }

    .txt__hero h1 {
        font-size: 4rem;
    }

    .txt__hero h2 {
        padding: 0px 30px;
        font-size: 1.3rem;

    }

}

@media (min-width:900px) {
    
    .container__hero {
        height: 600px;
    }


    .txt__hero {
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr;

    }

    .txt__hero h1 {
        font-size: 4.5rem;
        grid-column: 2/8;
        padding: 0;
        text-align: start;

    }

    .txt__hero h2 {
        padding: 0px 30px;
        font-size: 1.45rem;
        grid-column: 8/12;
        padding: 0;
        text-align: end;
    }

    .container__hero .button__action{
        width: 80%;
        scale: 1;
        margin: 0 auto;
        font-size: 1.5rem;
        grid-row: 2/3;
        grid-column: 1/13;
    }

}

@media (min-width:1400px) {
    
    .txt__hero h1 {
        width: 90%;
    }


    .txt__hero h2 {
        font-size: 1.5rem;
    }

    .container__hero .button__action{
        scale: 1.2;
        font-size: 1.5rem;
        grid-column: 2/12;
    }
}