.container__hero {
    width: 100dvw;
    height: 500px;
    position: relative;
}

.txt__hero {
    width: 100dvw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    font-family: var(--font-primary);  
    color: var(--color6);  
    text-align: center;
}

.txt__hero h1 {
    color: var(--color2);
    font-size: 3rem;
    padding: 20px 20px 0px 20px;
    font-weight: 800;
    line-height: 1.3;
    text-shadow: 2px 2px 5px #181818b0;
}

.container__hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gradient__hero {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, var(--color1), rgba(25, 49, 38, 0.521), transparent);
}

.container__hero .button__action{
    scale: .85;
}