/* .grid__container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.grid__container > .hola {
    grid-row: 1;
}

.grid__container > main { 
    grid-row: 2;
}

.grid__container > footer {
    grid-row: 3;
    background-color: red;
} */