@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Permanent+Marker&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color1: #244837;
  --color2: #ffb22c;
  --color3: #d06224;
  --color4: #854836;
  --color5: #cbb194;
  --color6: #f7f7f7;
  
  --font-primary: 'Roboto Condensed', sans-serif;

  background-color: var(--color1);
  

}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  
}