.nav {
    width: 100dvw;
    height: 100px;
    background-color: var(--color1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 5px 5px 3px rgba(34, 34, 34, 0.205);
    z-index: 100;
}

.container__logo {
    width: 130px;
}

.nav__links {
    display: none;
}
